<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 links">
        <span><%= link_to("about us", "#") %></span>
        <span><%= link_to("support", "#") %></span>
        <span><%= link_to("press", "#") %></span>
        <span><%= link_to("api", "#") %></span>
        <span><%= link_to("jobs", "#") %></span>
        <span><%= link_to("privacy", "#") %></span>
        <span><%= link_to("terms", "#") %></span>
        <span><%= link_to("directory", "#") %></span>
        <span><%= link_to("profiles", "#") %></span>
        <span><%= link_to("hashtags", "#") %></span>
        <span><%= link_to("languages", "#") %></span>
      </div>
      <div class="col-md-12 copyright">
        <span>&copy; <%= Time.new.year %> instagram</span>
      </div>
    </div>
  </div>
</footer>
