<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless notice.blank? %>
      <p class="notice alert alert-success" role="alert" style="text-align:center; margin-bottom:-20px;"><%= notice %></p>
    <% end %>
    <% unless alert.blank? %>
      <p class="alert alert-danger" role="alert" style="text-align:center; margin-bottom:-20px;"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
